<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="layout/layout :: head"></head>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-2">

		<h1 th:text="${message}"></h1>

		<div>
			<table class="table table-bordered table-striped table-hover my-4">
				<thead class="thead-dark">
					<tr>
						<th>Identificador</th>
						<th>Ubicación</th>
						<th>Productividad</th>
						<th>Modo de Operación</th>
						<th>Estado</th>
						<th>Habilitado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="unit: ${units}">
						<td><a class="btn btn-primary btn-xs" th:href="@{'/unidad/ver/' + ${unit.id}}"
							 th:text="${unit.id}"></a></td>
						<td th:text="${unit.latitude}+ ' ' +${unit.longitude}"></td>
						<td th:text="${productionUnit}+' BPD'"></td>
						<td th:text="'Automatico'"></td>
						<td th:text="'Detenido'"></td>
						<td th:text="${unit.enabled}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>