<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="layout/layout :: head"></head>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-2">
		<h1 th:text="${message}"></h1>

		<h4 class="card-title"></h4>

		<div class="containerHr">
			<div>
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos de Unidad'"></li>
					<li class="list-group-item" th:text="${unit.settings}"></li>
				</ul>
			</div>

			<div>
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos del Pozo'"></li>
					<li class="list-group-item" th:text="${unit.metrics}"></li>
				</ul>
			</div>
		</div>

		<div class="container">
			<div>
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Sensores'"></li>
				</ul>
			</div>

			<div>
				<table class="table table-bordered table-striped table-hover my-4">
					<thead class="thead-dark">
						<tr>
							<th>Identificador</th>
							<th>Tipo</th>
							<th>Estado</th>
							<th>Habilitado</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sensor: ${unit.sensors}">
							<td th:text="${sensor.id}"></td>
							<td th:text="${sensor.type}"></td>
							<td></td>
							<td th:text="${sensor.enabled}"></td>
							<td>
								<a class="btn btn-primary btn-xs" th:href="@{'/unidad/' + ${unit.id} + '/analisis'}"  th:text="'Analizar'"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>