<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
<script>
	var chartSelection = "unitProduction";
	var unitId = "[[${unit.id}]]";
	var productionChartRange = "";
</script>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->

			<div class="container my-2">
				<div class="alert alert-success" th:if="${success != null}"
					th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}"
					th:text="${error}"></div>
				<div class="alert alert-warning" th:if="${warning != null}"
					th:text="${warning}"></div>
				<div class="alert alert-info" th:if="${info != null}"
					th:text="${info}"></div>
				<h1 th:text="${message}"></h1>

				<a th:href="@{'/unit-notes/form?unitId=' + ${unit.id}}"
					class="btn btn-success btn-xs" th:text="'Add New Note'"></a> <br></br>

				<div class="card">
					<div class="card-header">
						<h3 th:text="'Oil Well Production'"></h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-5">
								<div class="small text-muted">
									<span th:text="${date}"></span>
								</div>
							</div>
							<!-- /.col-->
							<div class="col-sm-7 d-none d-md-block">
								<button class="btn btn-primary float-right" type="button">
									<i class="icon-cloud-download"></i>
								</button>
								<div class="btn-group btn-group-toggle float-right mr-3"
									data-toggle="buttons">
									<label class="btn btn-outline-secondary active"> <input
										id="option1" type="radio" name="options" value="day"
										autocomplete="off" checked=""> Day
									</label> <label class="btn btn-outline-secondary"> <input
										id="option2" type="radio" name="options" value="week"
										autocomplete="off"> Week
									</label> <label class="btn btn-outline-secondary"> <input
										id="option3" type="radio" name="options" value="month"
										autocomplete="off"> Month
									</label> <label class="btn btn-outline-secondary"> <input
										id="option4" type="radio" name="options" value="year"
										autocomplete="off"> Year
									</label>
								</div>
							</div>
							<!-- /.col-->
						</div>
						<!-- /.row-->
						<div class="chart-wrapper"
							style="height: 300px; margin-top: 40px;">
							<canvas class="chart" id="unit-production-chart" height="300"></canvas>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 th:text="'Oil Well Settings'"></h3>
					</div>
					<div class="card-body">
						<a th:href="@{'/unit/edit-settings/' + ${unit.id}}"
							class="btn btn-success btn-xs" th:text="'Edit Settings'"></a> <br></br>
						<div style="display: flex; gap: 10px;">
							<div class="card">
								<div class="card-header">
									<h4 th:text="'Pump Unit Settings'"></h4>
								</div>
								<div class="card-body">
									<ul style="margin-left: -30px;" th:each="setting: ${settings}">
										<li style="margin-bottom: -10px;"><strong
											th:text="${#strings.replace(setting.name, '_', ' ')}"></strong>:
											<span th:text="${setting.value}"></span></li>
									</ul>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title" th:text="'Oil Well Details'"></h4>
								</div>
								<div class="card-body">
									<ul style="margin-left: -30px;"
										th:each="wellDatum: ${wellData}">
										<li style="margin-bottom: -10px;"><strong
											th:text="${#strings.replace(wellDatum.name, '_', ' ')}"></strong>:
											<span th:text="${wellDatum.value} + ' ' + ${wellDatum.unit}"></span></li>
									</ul>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title" th:text="'Pump Unit Details'"></h4>
								</div>
								<div class="card-body">
									<ul style="margin-left: -30px;"
										th:each="unitDatum: ${unitData}">
										<li style="margin-bottom: -10px;"><strong
											th:text="${#strings.replace(unitDatum.name, '_', ' ')}"></strong>:
											<span th:text="${unitDatum.value}"></span></li>
									</ul>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title" th:text="'Power Details'"></h4>
								</div>
								<div class="card-body">
									<ul style="margin-left: -30px;" th:each="power: ${powerCost}">
										<li style="margin-bottom: -10px;"><strong
											th:text="${#strings.replace(power.name, '_', ' ')}"></strong>:
											<span th:text="${power.value} + ' ' + ${power.unit}"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 th:text="'Sensors'"></h3>
					</div>
					<div class="card-body">
						<a th:href="@{'/sensor/' + ${unit.id} + '/analisis-dinagrafico'}"
							class="btn btn-info btn-xs" th:text="'Get Dinagraph Analisis'"></a>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{'/sensor/form' + '?unitId=' + ${unit.id}}"
							class="btn btn-success btn-xs" th:text="'Add New Sensor'"></a>
						<table class="table table-bordered table-striped table-hover my-4">
							<thead class="thead-dark">
								<tr>
									<th>Id</th>
									<th>Sensor Type</th>
									<th>Status</th>
									<th sec:authorize="hasRole('ADMIN')">Delete Sensor</th>
									<th>Edit Sensor</th>
									<th>Data</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="sensor: ${unit.sensors}">
									<td th:text="${sensor.id}"></td>
									<td th:text="${#strings.replace(sensor.type, '_', ' ')}"></td>
									<td th:text="${sensor.enabled} ? 'Enabled' : 'Disabled'"></td>
									<td sec:authorize="hasRole('ADMIN')"><a
										class="btn btn-danger btn-xs"
										th:href="@{'/sensor/delete/' + ${sensor.id}}"
										th:text="'Delete'"></a></td>
									<td><a class="btn btn-primary btn-xs"
										th:href="@{'/sensor/form/' + ${sensor.id} + '?unitId=' + ${unit.id}}"
										th:text="'Edit Sensor'"></a></td>
									<td><a class="btn btn-primary btn-xs"
										th:href="@{'/sensor/' + ${unit.id} + '/analisis/' + ${sensor.id}}"
										th:text="'See Graphic'"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>