<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->

			<div class="container my-2">

				<div class="card">
					<div class="card-header">
						<h1 th:text="${message}"></h1>
					</div>
					<div class="card-body">
						<form th:action="@{'/sensor/form?unitId=' + ${unitId}}"
							th:object="${formData}" method="post">
							<div class="form-group-row">
								<label class="col-sm-2 col-form-label"> Type </label>
								<div class="cols-sm-6">
									<input type="text" th:field="*{sensor.type}"
										class="form-control" />
								</div>
							</div>

							<div class="form-group-row">
								<label class="col-sm-2 col-form-label"> Max Value </label>
								<div class="cols-sm-6">
									<input type="text" th:field="*{sensorSetting.maxValue}"
										class="form-control" autocomplete="false"/>
								</div>
							</div>

							<div class="form-group-row">
								<label class="col-sm-2 col-form-label"> Min Value </label>
								<div class="cols-sm-6">
									<input type="text" th:field="*{sensorSetting.minValue}"
										class="form-control" autocomplete="false"/>
								</div>
							</div>

							<div class="form-group-row">
								<label class="col-sm-2 col-form-label"> Meassure Unit </label>
								<div class="cols-sm-6">
									<input type="text" th:field="*{sensorSetting.meassureUnit}"
										class="form-control" />
								</div>
							</div>
							<br></br>
							<div class="form-group row">
								<div class="col-sm-6">
									<input type="submit" value="Save" class="btn btn-secondary" />
								</div>
							</div>

							<input type="hidden" th:field="*{sensor.enabled}" />
						</form>
					</div>
				</div>

			</div>

		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>