<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->
			<div class="container my-2">
				<div class="alert alert-success" th:if="${success != null}"
					th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}"
					th:text="${error}"></div>
				<div class="alert alert-warning" th:if="${warning != null}"
					th:text="${warning}"></div>
				<div class="alert alert-info" th:if="${info != null}"
					th:text="${info}"></div>

				<h1 th:text="${message} + ' ' + ${detail} + ' ' + ${title}"></h1>

				<a sec:authorize="hasRole('ADMIN')" th:if="${unattendedList}" th:href="@{/unit-events/list-attended-events}"
					class="btn btn-primary btn-xs" th:text="'Event History'"></a>

				<table class="table table-bordered table-striped table-hover my-4">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Oil Well</th>
							<th>Event Name</th>
							<th>Detail</th>
							<th>Priority</th>
							<th>Date</th>
							<th th:if="${!unattendedList}">Attended by</th>
							<th sec:authorize="hasRole('ADMIN')" th:if="${unattendedList}">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event: ${unitEvents}"
							th:style="${event.eventPriority == 1} ? 'background-color: rgb(255, 150, 150);' : ''">
							<td th:text="${event.id}"></td>
							<td th:text="${unitEventsUnits[event.id]}"></td>
							<td th:text="${event.eventName}"></td>
							<td th:text="${event.eventDetail}"></td>
							<td th:text="${event.eventPriority}"></td>
							<td th:text="${event.timeStamp}"></td>
							<td sec:authorize="hasRole('ADMIN')" th:if="${not event.eventAttended}"><a
								class="btn btn-danger btn-xs"
								th:href="@{'/unit-events/attend/' + ${event.id}}"
								th:text="'Attend'"></a></td>
						</tr>
					</tbody>
				</table>

			</div>


		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>