<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="layout/layout :: head"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="layout/layout :: header"></header>

	<div class="app-body">
		<div th:replace="layout/layout :: sidebar"></div>
		<main class="main">
			<!-- Breadcrumb-->

			<div class="container my-2">
				<h1 th:text="${message}"></h1>

				<div class="card">
					<div class="card-body">
						<form th:action="@{/artix/form}" th:object="${sample}"
							method="post" enctype="multipart/form-data">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Dinagraph Chart
									Case</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{name}" class="form-control"
										th:errorclass="'form-control alert-danger'" autocomplete="off" />
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Description</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{description}"
										class="form-control"
										th:errorclass="'form-control alert-danger'" autocomplete="off" />
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('description')}"
										th:errors="*{description}"></small>
								</div>
							</div>

							<div class="form-group row">
								<label for="file" class="col-sm-2 col-form-label">Input
									Image</label>
								<div class="col-sm-6">
									<input type="file" name="file" class="form-control" />
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-6">
									<input type="submit" value="Process" class="btn btn-secondary" />
								</div>
							</div>

						</form>
					</div>
				</div>

				<table th:if="${!samples.isEmpty()}"
					class="table table-bordered table-striped table-hover my-4">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Dinagraph Sample</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sample: ${samples}">
							<td th:text="${sample.id}"></td>
							<td th:text="${sample.name}"></td>
							<td><a class="btn btn-info btn-xs"
								th:href="@{'/artix/result/' + ${sample.id}}" th:text="'Details'"></a></td>
						</tr>
					</tbody>
				</table>
			</div>

		</main>
		<aside th:replace="layout/layout :: aside"></aside>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>