<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Lift Energy ' + ${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/paneles.css}" />
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/index}">Lift Energy</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/index}">Home <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/usuarios/listar-usuarios}">Usuarios</a></li>
				</ul>
<!-- 				<ul class="navbar-nav"> -->
<!-- 					<li class="dropdown show" th:each="zone: ${zones}"><a -->
<!-- 						class="btn btn-outline-dark dropdown-toggle" role="button" -->
<!-- 						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" -->
<!-- 						aria-expanded="false">Zonas</a> -->
<!-- 						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"> -->
<!-- 							<a class="dropdown-item" th:href="@{${zone.id}}" th:text="${zone.name}"></a> -->
<!-- 						</div> -->
<!-- 					</li> -->
<!-- 				</ul> -->
			</div>
			<div sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post" id="logoutForm">
					<button class="btn btn-danger"
						onclick="document.getElemenById('logoutForm').submit();"
						type="submit">Salir</button>
				</form>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/Actum_Logo.jpg}" alt="Actum logo"
			style="max-width: 100px;" />
		<p sec:authorize="isAuthenticated()">
			Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span> Desarrollado por
			Actum.<br /> &copy; Company 2023, Inc. Todos los derechos
			reservados. Términos de uso y privacidad.<br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>