<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->
			<div class="container my-2">
				<h1 th:text="${message}"></h1>

				<table class="table table-bordered table-striped table-hover my-4">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Oil Well</th>
							<th>User Origin</th>
							<th>Note</th>
							<th>Date</th>
							<th>Edit</th>
							<th sec:authorize="hasRole('ADMIN')">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="note: ${unitNotes}">
							<td th:text="${note.id}"></td>
							<td th:text="${unitNotesUnits[note.id]}"></td>
							<td th:text="${unitNotesUsers[note.id]}"></td>
							<td th:text="${note.note}"></td>
							<td th:text="${note.timeStamp}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{'/unit-notes/form/' + ${note.id}}"
								th:text="'Edit Note'"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{'/unit-notes/delete/' + ${note.id}}"
								th:text="'Delete'"></a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>