<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->

			<div class="container my-2">

				<h1 th:text="${message}"></h1>

				<a sec:authorize="hasRole('ADMIN')" th:href="@{/zone/form}"
					class="btn btn-success btn-xs" th:text="'Create New Oil Field'"></a>

				<div>
					<table class="table table-bordered table-striped table-hover my-4">
						<thead class="thead-dark">
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Location</th>
								<th>Productivity</th>
								<th>Status</th>
								<th>Edit Oil Field</th>
								<th sec:authorize="hasRole('ADMIN')">Delete Oil Field</th>
								<th>Oil Wells</th>
							</tr>
						</thead>
						<!-- TODO: Cuando es lista especifica esconder el nombre de los Campos -->
						<tbody>
							<tr th:each="zone: ${zones}"
								th:style="${zone.production lt 10000} ? 'background-color: rgb(255, 150, 150);' : ''">
								<td th:text=${zone.id}></td>
								<td th:text="${#strings.replace(zone.name, '_', ' ')}"></td>
								<td th:text="${zone.latitude}+ ' ' +${zone.longitude}"></td>
								<td th:text="${zone.production}+' BPD'"></td>
								<td th:text="${zone.enabled} ? 'Enabled' : 'Disabled'"></td>
								<td><a class="btn btn-info btn-xs"
									th:href="@{'/zone/form/' + ${zone.id}}" th:text="'Edit'"></a></td>
								<td sec:authorize="hasRole('ADMIN')"><a
									class="btn btn-danger btn-xs"
									th:href="@{'/zone/delete/' + ${zone.id}}" th:text="'Delete'"
									onclick="return confirm('Are you sure to delete this component?');"></a></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{'/unit/' + ${zone.id} + '/list-units'}"
									th:text="'List Oil Wells'"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>