<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="~{layout/layout :: head}"></head>
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="~{layout/layout :: header}"></header>

	<div class="app-body">
		<div th:replace="~{layout/layout :: sidebar}"></div>
		<main class="main">
			<!-- Breadcrumb-->

			<div class="container my-2">
				<h1 th:text="${message}"></h1>

				<table class="table table-bordered table-striped table-hover my-4">
					<thead class="thead-dark">
						<tr>
							<th>Item</th>
							<th>Value</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user: ${users}">
							<td th:text="'External Module'"></td>
							<td th:text="'Artix'"></td>
							<td><a class="btn btn-info btn-xs" th:text="'Edit'"></a></td>
							<td><a class="btn btn-danger btn-xs" th:text="'Delete'"></a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</main>
		<aside th:replace="~{layout/layout :: aside}"></aside>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>